{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/IMG_20231126_110449.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Немножечко информации про меня</h1>
        <hr>
        <p>Bohdanskaya NastaSSIA</p>
        <p>Fitness trainer & wellness expert</p>
        <p>Когда-то я на практике заметила, как тренировки и маленькие ежедневные
            действия меняют мою жизнь в лучшую сторону и ведут меня к моим целям.
            И дело не во внешнем виде, весе и теле, а в том как образ жизни влияет
            на наше состояние, настроение и интерес к жизни, развитию и самореализации.
            Тело - приятный и неизбежный бонус. Но главная задача ЗОЖа - давать силу
            и энергию для полноценной и яркой жизни. Это основная философия всей моей
            личной практики и работы.
        </p>
    </div>

{% endblock content %}

