{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/IMG_4484_edit_107604038854934-01.jpeg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Balance CAMP</h1>
        <h3>Философия проекта</h3>
        <p>Что такое Balance camp?</p>
        <p>
            Это формат тренировок со мной онлайн в закрытом телеграм канале.
            Философия Balance camp - работа с образом жизни на всех уровнях:
            тренировки, лекции о питании, психологии привычек и отношениях
            с собой. Кэмпы проходят всего несколько раз в год и их наполнение
            всегда разное. Каждая тренировка - уникальна, упражнения не
            повторяются. Проработка мышц пресса, рук и ног, работа с дыханием
            и осанкой, увеличение общей выносливости и мобильности суставов
            - все это ждет вас в Balance CAMP.
        </p>
        <h2>Стоимость</h2>
        <h2>3790₽</h2>
        <hr>
        <h3>Описание</h3>
        <ul>
            <li>12 полноценных тренировок</li>
            <li>Инвентарь: коврик и гантели</li>
            <li>Тренируйся в любое время</li>
            <li>Доступ к тренировкам 2 месяца</li>
        </ul>
    </div>
</div>

<h1>Для того, чтобы приобрести курс, заполните пожалуйста форму ниже.</h1>
<h1>Внимательно вводите данные</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

{% endblock content%}