{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/IMG_4474_edit_107637715913783.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Balance INDIVIDUAL</h1>
        <h4>
            Индивидуальные тренировки - лучший формат для развития своих
            физических навыков и решения персональных запросов.
        </h4>
        <h4>
            Мои курсы составлены так, чтобы решить максимум задач, но если
            вы все таки испытываете потребность в персональном тренинге и
            хотите тренироваться со мной лично, то оставьте заявку и мы подберем
            для вас оптимальное решение.Оставить заяку
        </h4>
        <hr>
        <h2>Стоимость</h2>
        <ul>
            <li>4 тренировки 16000₽ (4000/тренировка)</li>
            <li>8 тренировок 28000₽ (3500/тренировка)</li>
            <li>12 тренировок 36000₽ (3000/тренировка)</li>
        </ul>
        <p>
            Количество мест на персональные тренировки всегда ограничено,
            оставьте заявку и мы попробуем подобрать для вас удобное время
        </p>
    </div>
</div>

<h1>Для того, чтобы приобрести курс, заполните пожалуйста форму ниже.</h1>
<h1>Внимательно вводите данные</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>
{% endblock content %}