{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/DSC06042.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Balance LITE training</h1>
        <p>Философия курса</p>
        <p>
            Гармоничное развитие всего тела с акцентом на ровную осанку,
            крепкий пресс и красивые ягодицы. Программа построена на
            современных методиках функционального тренинга. В программу
            входят 12 разнообразных тренировок длительностью 25-50 минут,
            которые я выполняю вместе с вами от и до.
        </p>
        <h2>Стоимость</h2>
        <h2>2990₽</h2>
        <hr>
        <h3>Описагие</h3>
        <ul>
            <li>Тренировки подходят для дома или зала</li>
            <li>Инвентарь: коврик и гантели (у меня 3кг и 7кг)</li>
            <li>Для любого уровня подготовки</li>
            <li>Вечный доступ к тренировкам</li>
        </ul>
    </div>
</div>
<h1>Для того, чтобы приобрести курс, заполните пожалуйста форму ниже.</h1>
<h1>Внимательно вводите данные</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

{% endblock content %}