{% extends 'basic_page.html' %}
{% load static %}

{% block content %}
<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/DSC05894.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Сопровождение по коррекции питания/образа жизни.</h1>
            <hr>
            <p>Для тех, кто хочет чувствовать поддержку на протяжении всего пути</p>
            <p>
                4 полные недели, 3 видео-встречи, прямая связь в Telegram по всем
                возникающим вопросам. Лучший способ пройти сложный путь к изменениям
                с поддержкой специалиста. В рамках сопровождения могут быть затронуты
                любые ваши запросы связанные с образом жизни, не только питание
                и тренировки, но и отношение к своему телу, здоровые отношения с едой,
                внутренняя мотивация и много другое. Если вы заинтересованны в улучшении
                качества своей жизни во всех сферах, то образ жизни - это фундамент,
                с которого стоит начать.
            </p>
    </div>
</div>

<div class="preform">
    <div style="flex-basis: 50%; text-align: right; padding-right: 50px;">
        <h3>Стоимость консультации 15000₽</h3>
    </div>
    <div>
        <h3>Для записи необходимо заполнить форму обратной связи для выбора удобной даты
            и времени встречи. Оплата происходит после согласования всех деталей.
        </h3>
    </div>
</div>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

{% endblock content %}
