{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/DSC06278.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>
    <div class="column" style="display: flex; flex-direction: column;">
        <div style="flex-basis: calc(50% - 20px)">
            <h1>
                <ul>
                    <li>Онлайн-тренировки для дома и зала</li>
                    <li>Консультации по образу жизни и питанию</li>
                    <li>Научный подход простыми словами</li>
                    <li>От 990₽</li>
                </ul>
            </h1>
        </div>
        <hr>
        <div style="flex-basis: calc(50% - 20 px)">
            <h1>Пройдите небольшой опрос</h1>
            <br>
            <h1>И я вышлю вам рекомендации, адаптированные конкретно под Вас </h1>
            <br>
        <a href="{% url 'poll' %}"><button style="font-size:150%">Заполнить форму</button></a>
        </div>

    </div>
</div>
<h1>Про образование</h1>
<table>
    <tr>
        <th><hr></hr>1<hr></th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </tr>
    <tr>
    <td>Инструктор фитнеса, бодибилдинга и оздоровительной физической
        культуры. Колледж фитнеса и бодибилдинга им. Б. Вейдера 2017
    </td>
    <td>Спортивный нутрициолог. Колледж фитнеса и бодибилдинга им. Б. Вейдера 2019</td>
    <td>Специалист по модификации образа жизни и немедикаментозному
        оздоровлению (Health coach). УОМ 2021
    </td>
    <td>Физическая культура и спорт. Университет прикладных наук Савонлинна,
        Финляндия. 2023 - 2026
    </td>
    </tr>
</table>
<h1>Мои ценности в работе и жизни.</h1>
<div class="container">
    <div class="column-2">
        <div>
            <h1>Персонализация.</h1>
            <p>Каждый человек - особенный и требует индивидуального подхода.</p>
        </div>
        <div>
            <h1>Эффективность.</h1>
            <p>
                Мы все жители современного мира, и это требует от нас эффективных
                действий. Выбирая научный, и при этом персонализированный подход - мы
                экономим время и ресурсы для полноценной жизни.
            </p>
        </div>
        <div>
            <h1>Широта восприятия.</h1>
            <p>
                Здоровый образ жизни это не только питание и спорт,
                а целый комплекс знаний о себе.
            </p>
        </div>
    </div>
    <div class="column-2">
                <img src="{% static 'nastya/img/IMG_4478_edit_107624792362222.jpg' %}" width="100%" style="border-radius: 15px" >

    </div>
    <div class="column-2">
        <div>
            <h1>Поддержка.</h1>
            <p>
                Задача хорошего тренера - поддерживать и сохранять мотивацию
                на протяжении всего пути. Поэтому я всегда на связи со своими клиентами.
            </p>
        </div>
        <div>
            <h1>Гибкий подход.</h1>
            <p>
                Здоровые привычки могут вписаться в любой образ жизни.
                Работа, учеба, семья - не должны быть помехой изменениям к лучшему.
            </p>
        </div>
        <div>
            <h1>Свобода.</h1>
            <p>Тренировки и здоровое питание будут с тобой там, где ты захочешь!</p>
        </div>
    </div>
</div>
<div style = 'background-color: lightpink; transparent: 50%'>
    <h1>Как мы можем поработать?</h1>
    <div class="container">
        <div class="column-colab-choice">
            <h1>Тренировки</h1>
            <p>
                Я вложила весь свой тренерский опыт в разработку программ
                для гармоничного развития тела с минимальным оборудованием.
                Здесь вы найдете тренировки разного уровня сложности,
                чтобы каждый смог подобрать себе подходящую нагрузку.
            </p>
            <a href="{% url 'courses' %}"><button>Подробнее</button></a>
        </div>

        <div class="column-colab-choice">
            <h1>Консультации</h1>
            <p>
                Разбор любого запроса в формате видео-звонка. Персональные
                рекомендации по питанию, формулировка целей и поэтапный
                план для ваших изменений.
            </p>
            <a href="{% url 'consultations' %}"><button>Подробнее</button></a>
        </div>

        <div class="column-colab-choice">
            <h1>Сопровождение</h1>
            <p>
                Персональная работа со мной длиною в месяц. Полное включение
                в вашу проблему, возможность задать мне любой вопрос напрямую
                и получить необходимую информацию или поддержку
            </p>
            <a href="{% url 'maintenance' %}"><button>Подробнее</button></a>
        </div>

        <div class="column-colab-choice">
            <h1>Гайд по восстановлению после родов</h1>
            <p>
                Здесь вы найдете практическое руководство как с первых
                дней после рождения вашего малыша,
                чувствовать себя лучше и снизить болезненные ощущения
            </p>
            <a href="{% url 'manual' %}"><button>Подробнее</button></a>
        </div>
    </div>
</div>

{% endblock content %}
