{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/IMG_20231030_161256-01.jpeg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Методичка по восстановлению в после родов</h1>
        <hr>
        <p>Если ты хочешь с первых дней после рождения твоего малыша,
            чувствовать себя лучше и снизить болезненные ощущения,
            но не знаешь что нужно делать?
        </p>
        <p>
            Тогда мой гайд для тебя, он поможет в первые дни в роддоме:
            Со вторых или с первых суток после родов
            Ты приступишь к восстановлению дыхания, вернёшь артикуляцию тела
            без нагрузок, вернёшь чувствительность глубоких мышц живота и начнёшь
            делать упражнения для прилива энергии, а не утомления.
            У тебя будет 10 последовательных шагов по восстановлению организма
            после родов, которые помогут тебе в роддоме, лучше подготовится заранее,
            потому что когда появляется малыш, думать о себе не всегда удаётся,
            поэтому мой гайд поможет тебе в трудную минуту.
        </p>
        <a href="{%static 'nastya/files/Мобильная_презентация_Гайд_Спорт_фитнес_простой_спокойный_бежевый (1).pdf'%}" download><button>Скачать</button></a>
    </div>
</div>

{% endblock content %}
