{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/DSC06042.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Balance MORNING</h1>
        <h3>Филосовия курса</h3>
        <p>Утренние ритуалы. 10-минутные комплексы.</p>
        <p>
            Программа создана для тех, кто хочет улучшить осанку,
            укрепить мышцы пресса и тазового дна, а также улучшить
            подвижность суставов, тратя не более 15 минут в день.
            12 разнообразных тренировок по 10-15 минут, которые идеально
            подходят для утренних зарядок, снятия напряжения после работы
            или коротких тренировок в течение дня. Для уже тренирующихся
            зарядки сделают тренировочный процесс продуктивнее, а для тех,
            кто только начинает внедрять движение в свою жизнь, будут
            отличным первым шагом.
        </p>
        <h2>Стоимость</h2>
        <h2>1990₽</h2>
        <hr>
        <h3>Описание</h3>
        <ul>
            <li>Короткие комплексы на каждый день</li>
            <li>Инвентарь: коврик</li>
            <li>Для любого уровня подготовки</li>
            <li>Вечный доступ к тренировкам</li>
        </ul>
    </div>
</div>
<h1>Для того, чтобы приобрести курс, заполните пожалуйста форму ниже.</h1>
<h1>Внимательно вводите данные</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

{% endblock content %}