{% extends 'basic_page.html' %}
{% load static %}

{% block content %}

<div CLASS="container">
    <div style="max-width: 50%">
        <img src="{% static 'nastya/img/IMG_4478_edit_107624792362222.jpg' %}" width="100%" style="border-radius: 15px" >
    </div>

    <div class="column">
        <h1>Balance PRO training</h1>
        <h3>Филосовия курса</h3>
        <p>
            Вторая ступень в моих тренировочных курсах, для тех кто уверен
            в себе и хочет развивать функциональность своего тела дальше.
            Минимум инвентаря, максимум выносливости, силы и подвижности!
            12 полноценных fullbody тренировок, с элементами силовых, кардио
            и стретчинга, длительностью 40-60 минут, с акцентом на ровную осанку,
            крепкий пресс и ягодицы.
        </p>
        <h2>Стоимость</h2>
        <h2>3990₽</h2>
        <hr>
        <h3>Описание</h3>
        <ul>
            <li>Тренировки подходят для дома и зала</li>
            <li>Инвентарь: коврик и гантели (у меня 3кг и 7кг)</li>
            <li>Для продолжающих атлетов</li>
            <li>Вечный доступ к тренировкам</li>
        </ul>
    </div>
</div>

<h1>Для того, чтобы приобрести курс, заполните пожалуйста форму ниже.</h1>
<h1>Внимательно вводите данные</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Отправить</button>
</form>

{% endblock content %}