{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Django Example</title>
    <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
    <style>
        a:visited {
            color: white;
        }
        </style>
  </head>

  <body>
    <header>
        
        <div>
            <h1>
                <a href="{% url 'posts' %}">
                    Blog Example
                </a>
            </h1>
        </div>
        <div style="display: flex;">
            {% if user.is_authenticated %}
                <p>Hello, {{user.get_username}}</p>
                <form method="post" action="{% url 'logout' %}?next={{request.path}}">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
                {% if perms.main.add_post %}
                    <form method="post" action="{% url 'add_post' %}">
                        {% csrf_token %}
                        <button type="submit">Add post</button>
                    </form>
                {% endif %}
            {% else %}
                <form method="post" action="{% url 'login' %}?next={{request.path}}">
                    {% csrf_token %}
                    <button type="submit">Log in</button>
                </form>
            {% endif %}
        </div>

    </header>
    <div class="container">
      <div class="column">
        
        {% block content %}
        {% endblock content %}

      </div>
    </div>
    <footer>
      <p>&copy; 2024 Django Example</p>
    </footer>
  </body>
</html>